<header>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/allData">All Data</a> |
    <a href="/search/PropertyID">Search by ID</a> |
    <a href="/viewData" class="{{#if (eq title 'View Airbnb Data')}}active{{/if}}">View Data</a> |
    <a href="/viewData/clean">Clean Data</a> |
    <a href="/viewData/price">Search by Price</a> |
    <a href="/search/name">Search by Name</a> |
    <a href="/insert/product">Insert Listing</a> |
    <a href="/delete/product">Delete Listing</a> |
    <a href="/update/product">Update Listing</a>

  </nav>
  <h2>ITE5315 – Assignment 2</h2>
  <h2>{{title}}</h2>
  <p>Name: Kiranjit Kaur | Student ID: n01702773</p>
</header>
