<div style="max-width: 900px; margin: 40px auto; padding: 30px; background: #ffffff; border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.08); text-align: left;">
  <h1 style="color: #003d80; margin-bottom: 10px;">{{title}}</h1>

  <h2 style="color: #222; margin-top: 0;">Kiranjit Kaur</h2>
  <p style="font-size: 16px; color: #555;">Student ID: <strong>n01702773</strong></p>

  <hr style="margin: 25px 0; border: 0; border-top: 2px solid #003d80;">

  <section style="margin-bottom: 25px;">
    <h3 style="color: #003d80;  padding-left: 10px;">Education</h3>
    <ul style="list-style-type: disc; padding-left: 40px; line-height: 1.8; font-size: 16px; color: #333;">
      <li>Diploma in IT, Humber College (Ongoing)</li>
      <li>Bachelor’s of Computer Applications, Punjabi University Patiala (2020–2023)</li>
    </ul>
  </section>

  <section>
    <h3 style="color: #003d80;  padding-left: 10px;">Skills</h3>
    <ul style="list-style-type: disc; padding-left: 40px; line-height: 1.8; font-size: 16px; color: #333;">
      <li>HTML / CSS</li>
      <li>JavaScript</li>
      <li>Express.js</li>
    </ul>
  </section>
</div>
