<h2>Search Airbnb Property</h2>

<form method="POST" action="/search/PropertyID">
  <label for="property_id">Property ID:</label>
  <input type="text" name="property_id" id="property_id">
  <button type="submit" class="btn-link">Search</button>
</form>

{{#if errors}}
  <ul style="color:red;">
    {{#each errors}}
      <li>{{msg}}</li>
    {{/each}}
  </ul>
{{/if}}
